/* Estilos globales para el cuerpo del documento */
body {
    /* Tipo de letra utilizado */
    font-family: "Teko", sans-serif;
    /* Elimina los márgenes y el relleno por defecto */
    margin: 0;
    padding: 0;
    /* Color de fondo del sitio web */
    background-image:url(emiliano.jpg) ;
    
  
    
}

/* Estilos para el encabezado */
header {
    font-family: "Honk", system-ui;
    /* Color de fondo del encabezado */
    background-image: url("b.jpg");

    /* Color del texto en el encabezado */
    color: #fff;
    /* Relleno interno del encabezado */
    padding: 1rem 0;
    /* Alineación del texto en el centro */
    text-align: center;
}

/* Estilos para la barra de navegación */
{
    display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
        }

        {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

      {
            display: block;
        }
       {
            display: block;
        }
}

/* Estilos para los elementos de la lista en la barra de navegación */
nav ul li {
    /* Muestra los elementos en línea */
    display: inline;
    /* Elimina los márgenes */
    margin: 0;
}

/* Estilos para los enlaces en la barra de navegación */
nav ul li a {
    /* Color del texto del enlace */
    color: #fff;
    /* Relleno interno del enlace */
    padding: 0.5rem 1rem;
    /* Elimina el subrayado por defecto */
    text-decoration: underline;
}

/* Estilos para el contenido principal */
main {
     <style>
    
        .slider-container {
            max-width: 800px;
            margin: 0 auto;
            position: right;
            overflow: hidden;
        }
      
        .slider-content {
            display: flex;
            transition: transform 0.5s ease;
        }
       
        .slider-item {
            min-width: 100%;
            flex: 0 0 auto; 
        }
    </style>
    /* Relleno interno del contenido principal */
    padding: 1rem;
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    font-family: "Danfo", serif;
    /* Color de fondo del pie de página */
    background-color: #333;
    /* Color del texto en el pie de página */
    color: #df2c14;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Relleno interno del pie de página */
    padding: 1rem 0;
    /* Fija el pie de página en la parte inferior de la página */
    position: fixed;
    bottom: 0;
    width: 100%;
}
